<footer class="footer">
  <div class="container">
    <div class="row">
      <ul class="list-inline">
        <li class="list-inline-item">English (UK)</li>
        <li class="list-inline-item"><a href="#">हिन्दी</a></li>
        <li class="list-inline-item"><a href="#">ਪੰਜਾਬੀ</a></li>
        <li class="list-inline-item"><a href="#">اردو</a></li>
        <li class="list-inline-item"><a href="#">ગુજરાતી</a></li>
        <li class="list-inline-item"><a href="#">বাংলা</a></li>
        <li class="list-inline-item"><a href="#">தமிழ்</a></li>
        <li class="list-inline-item"><a href="#">తెలుగు</a></li>
        <li class="list-inline-item"><a href="#">മലയാളം</a></li>
        <li class="list-inline-item"><a href="#">ಕನ್ನಡ</a></li>
        <li class="list-inline-item"><a href="#">Español</a></li>
      </ul>
    </div>
    <hr>
    <div class="row">
        <ul class="list-inline">
          <li class="list-inline-item">English (UK)</li>
          <li class="list-inline-item"><a href="#">हिन्दी</a></li>
          <li class="list-inline-item"><a href="#">ਪੰਜਾਬੀ</a></li>
          <li class="list-inline-item"><a href="#">اردو</a></li>
          <li class="list-inline-item"><a href="#">ગુજરાતી</a></li>
          <li class="list-inline-item"><a href="#">বাংলা</a></li>
          <li class="list-inline-item"><a href="#">தமிழ்</a></li>
          <li class="list-inline-item"><a href="#">తెలుగు</a></li>
          <li class="list-inline-item"><a href="#">മലയാളം</a></li>
          <li class="list-inline-item"><a href="#">ಕನ್ನಡ</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
          <li class="list-inline-item"><a href="#">Español</a></li>
        </ul>
    </div>
    <div class="row">
      <span>Facebook &copy; 2018</span>
    </div>
  </div>
</footer>
