
<div class="row">
  <div class="col-md-6">
    <app-fb-input-box placeholder="First Name"></app-fb-input-box>
  </div>
  <div class="col-md-6">
    <app-fb-input-box placeholder="Surname"></app-fb-input-box>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-fb-input-box placeholder="Mobile number or email address"></app-fb-input-box>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-fb-input-box placeholder="New Password"></app-fb-input-box>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <app-fb-button text = "Sign Up" color = "green"></app-fb-button>
  </div>
</div>