<header>
    <!-- Fixed navbar -->
    <div class="container">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-fb-blue d-flex justify-content-between">
      <h1>facebook</h1>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <!-- <div class="collapse navbar-collapse d-flex justify-content-around" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
          </li>
        </ul> -->
        <div class="flt-rt">
          <table>
            <tbody>
              <tr>
                <td>
                  <label for="email">Email or Phone</label>
                </td>
                <td>
                  <label for="password">Password</label>
                </td>
                <td></td>
              </tr>
              <tr>
                <td>
                  <app-fb-input-box type = "email" id="email" size="small"></app-fb-input-box>
                </td>
                <td>
                  <app-fb-input-box type = "password" id="password" size="small"></app-fb-input-box>
                </td>
                <td><app-fb-button text="Log In" color="#4267b2" small = "true"></app-fb-button></td>
              </tr>
              <tr>
                <td></td>
                <td><a href="#">Forgot Password?</a></td>
                <td></td>
              </tr>
            </tbody>
          </table>
          <!-- <label for="userName">Name:</label>
          <input class="form-control mr-sm-2" type="text" aria-label="Search" id="userName">

          <label for="password">Password:</label>
          <input class="form-control mr-sm-2" type="text" aria-label="Search" id="password"> -->
          <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
        </div>
    </nav>
    </div>
  </header>